<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C'est good</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

 

        h1 {
            margin-top: 20px;
            color: #1c0bce;
            font-size: 2em;
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        header:hover h1 {
            color: #698dcb;
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <header>
        <h1>C'est good</h1>
    </header>
</body>
</html>
